body {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#cc99ff), to(#ffffff)) no-repeat;
  background: -ms-gradient(linear, left top, left bottom, from(#cc99ff), to(#ffffff)) no-repeat;
  background: -o-gradient(linear, left top, left bottom, from(#cc99ff), to(#ffffff)) no-repeat;
  background: gradient(linear, left top, left bottom, from(#cc99ff), to(#ffffff)) no-repeat;
  position: relative;
  overflow-x: hidden;
}
input {
  display: block;
}
.header {
  width: 900px;
  margin: 2% auto 2% auto;
}
.header #logo {
  width: 72px;
}
#container {
  width: 900px;
  margin: 0% auto;
}
#container #banner {
  background-color: #CCFF66;
  width: 100%;
  height: 100px;
}
#container #banner img {
  float: right;
  width: 90px;
}
#container #tabs {
  margin: 2% 0;
}
#container #tabs li {
  display: inline-block;
}
#container #boxcontent {
  margin: 2% auto;
}
#container #boxcontent span {
  color: red;
  margin: 0 5px;
}
#container #boxcontent label {
  margin: 18px 8px 7px 8px;
}
#container #boxcontent .notes {
  font-size: 13px;
  color: #696767;
}
#container #boxcontent input[type="radio"] {
  display: inline-block;
  margin: 0 10px 0 30px;
}
#container #boxcontent input[type="button"] {
  display: inline-block;
  margin: 20px;
}
.footer {
  width: 900px;
  position: absolute;
  text-align: center;
  left: 30px;
  bottom: 0px;
  font-size: 14px;
}
@media screen and (max-width: 900px) {
  .header {
    width: 100%;
  }
  #container {
    width: 100%;
  }
  #container #boxcontent .notes {
    font-size: 12px;
    color: #696767;
    display: block;
    margin: 0px 15px -18px 23px;
  }
  .footer {
    width: 100%;
    left: auto;
    font-size: 13px;
  }
}
@media screen and (max-width: 470px) {
  .footer {
    bottom: -18px;
  }
}
@media screen and (max-width: 372px) {
  #container #boxcontent .notes {
    display: none;
  }
  #container #boxcontent input {
    display: block;
    margin-left: 15px !important;
    margin-bottom: -18px;
  }
}
